:root {
  --text-color-primary: rgba(248, 248, 248, 1);
  --text-color-secondary: rgba(183, 183, 183, 1);
}

#app {
  max-width: 34rem;
  margin: 0 auto;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: rgb(248, 248, 248);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

p,
img,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: white;
}

img {
  width: 100%;
}

.header-icon {
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.header-icon.active {
  width: 5.5rem;
  height: 2.5rem;
}

.main-body {
  margin: 0 0.25rem;
  position: relative;
}

.main-body .main-image {
  border-radius: 0.5rem;
}

.text-primary,
.text-secondary {
  margin: 0 1rem;
  position: absolute;
  z-index: 1;
}

.main-body .text-primary {
  font-weight: 700;
  bottom: 2.5rem;
  color: var(--text-color-primary);
}

.main-body .text-secondary {
  font-weight: 500;
  bottom: 1rem;
  color: var(--text-color-secondary);
}

.main-buttons {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.main-buttons-item {
  display: block;
  margin: 0 1rem;
  padding: 1.25rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0.625rem 1.25rem #e9e9ea;
}

.main-buttons-item.like:hover {
  background-color: rgba(219, 255, 244, 0.6);
  box-shadow: 0 0.625rem 1.25rem rgba(204, 241, 230, 1);
}

.main-buttons-item.nope:hover {
  background-color: rgba(255, 231, 239, 1);
  box-shadow: 0 0.625rem 1.25rem rgba(237, 217, 223, 1);
}

.main-buttons-item img {
  width: 1.8rem;
  display: block;
}
